.footerWithInput {
  .cmp-embed {
    .cmp-embed_footerwithinput_content {
      height: 20em;
      padding-top: 2.5em;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      text-align: center;
    }

    .cmp-embed_footerwithinput_window {
      width: 50%;
      height: 55%;
      display: inline-block;
      text-align: center;
      margin: 0 auto;
      background-color: $color-background;
      border-bottom: 3px solid $footer-border-color;
    }

    .cmp-embed_footerwithinput_caption {
      font-weight: bold;
      font-size: 1em;
      line-height: 1.25em;
      color: $text-dark;
    }

    .cmp-embed_footerwithinput_input {
      border-radius: 4px;
      border: 1px solid $grey2;
      color: $text-dark;
    }
  }
}
