.carousel-showOneImage {
  .cmp-carousel {
    margin: 0.5em;
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
  .cmp-carousel__content {
    .cmp-carousel__item {
      max-height: 30vh;
    }
    &:hover {
      .cmp-carousel__actions {
        position: absolute;
        width: 100%;
        bottom: 45%;
        right: 0;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
      }
    }
  }
  .cmp-carousel__actions {
    display: none;
  }

  .cmp-carousel__action {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2em;
    margin-right: 2em;
    border-width: 0;
    border-radius: 50%;
    box-shadow: none;
    & .cmp-carousel__action-icon {
      &:before {
        position: absolute;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: $color-background;
        opacity: 1;
        transform: translate(-50%, -50%);
        content: "";
        mask-size: cover;
      }
    }
    &:focus {
      outline: none;
    }
  }
  .cmp-carousel__action--disabled {
  }
  .cmp-carousel__action--previous {
    background-color: $grey3-semi-transparent;
    & .cmp-carousel__action-icon {
      &:before {
        mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00ODUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDg1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNLjI5MywxMy4wMjFhMSwxLDAsMCwxLDAtMS40MTVsNC45NS00Ljk1TC4yOTMsMS43MDdBMSwxLDAsMCwxLDEuNzA3LjI5M0w3LjM2NCw1Ljk1YTEsMSwwLDAsMSwwLDEuNDE0TDEuNzA3LDEzLjAyMWExLDEsMCwwLDEtMS40MTUsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDUwMSA5OC42NTcpIHJvdGF0ZSgxODApIi8+PC9nPjwvc3ZnPg==");
      }
    }
  }
  .cmp-carousel__action--next {
    background-color: $text-dark-semi-transparent;
    &:hover {
      background-color: $text-dark;
    }
    & .cmp-carousel__action-icon {
      &:before {
        mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmEsLmJ7ZmlsbDojNjA3ZDhiO30uYXtvcGFjaXR5OjA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00NDUgLTgwKSI+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDQ1IDgwKSIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMzAuNzA3LTMuNTY1YTEsMSwwLDAsMSwwLTEuNDE0bDQuOTQ5LTQuOTUtNC45NDktNC45NWExLDEsMCwwLDEsMC0xLjQxNCwxLDEsMCwwLDEsMS40MTQsMGw1LjY1Nyw1LjY1NmExLDEsMCwwLDEsLjI5My43MDcsMSwxLDAsMCwxLS4yOTMuNzA3TDMyLjEyMS0zLjU2NWExLDEsMCwwLDEtLjcwNy4yOTNBMSwxLDAsMCwxLDMwLjcwNy0zLjU2NVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQyMi45MjkgMTAxLjkyOSkiLz48L2c+PC9zdmc+");
      }
    }
  }
  .cmp-carousel__action--pause {
    display: none;
  }
  .cmp-carousel__action--play {
    display: none;
  }
  .cmp-carousel__action-icon {
  }
  .cmp-carousel__action-text {
    display: none;
  }
  .cmp-carousel__indicators {
    z-index: 1;
    position: absolute;
    bottom: 4%;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
  }
  .cmp-carousel__indicator {
    max-width: 4rem;
    max-height: 0.5rem;
    width: 8%;
    height: 100%;
    margin: auto 0.2rem 0 0.2rem;
    background-color: $grey3;
    border-radius: 0;
  }
  .cmp-carousel__indicator--active {
    background-color: $color-background;
  }
}
