.caption {
  z-index: 1;
  position: relative;
  @include md {
    width: 33% !important;
  }
  @include sm {
    width: 50% !important;
  }
  .cmp-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: $image-shadow;
    border-radius: $border-radius;
  }
  .cmp-image__link {
    width: 100%;
  }
  .cmp-image__image {
    width: 100%;
    border-radius: $border-radius;
    border-style: none;
    border-color: transparent;
    z-index: -1;
    position: relative;
  }

  .cmp-image__title {
    z-index: 1;
    bottom: 15%;
    position: absolute;
    width: 80%;
    text-align: center;
    color: $color-background;
    font-family: $font-bold;
    font-size: $text-large;
    line-height: $text-height-medium;
    @include lg {
      font-size: $text-fixed-large;
      line-height: $text-fixed-height-medium;
    }
    @include md {
      font-size: $text-fixed-medium;
      line-height: $text-fixed-height-medium;
    }
    @include sm {
      font-size: $text-fixed-small;
      line-height: $text-fixed-height-small;
    }
  }
}
