.captionBelow {
  @include md {
    width: 25% !important;
  }
  @include sm {
    width: 50% !important;
  }
  .cmp-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }
  .cmp-image__link {
    width: 100%;
  }
  .cmp-image__image {
    width: 100%;
    border-radius: $border-radius;
    border-style: none;
  }

  .cmp-image__title {
    z-index: 1;
    width: 100%;
    margin-top: 8%;
    color: $text-dark;
    font-family: $font-bold;
    font-size: $text-medium;
    line-height: $text-height-medium;
    padding-bottom: 1em;
    @include lg {
      font-size: $text-fixed-medium;
      line-height: $text-fixed-height-medium;
    }
    @include md {
      font-size: $text-fixed-medium;
      line-height: $text-fixed-height-medium;
    }
    @include sm {
      font-size: $text-fixed-small;
      line-height: $text-fixed-height-small;
    }
  }
}
