//== Font
$font-bolder: "Montserrat Black";
$font-bold: "Montserrat Bold";
$font-semibold: "Montserrat SemiBold";
$font-medium: "Montserrat Medium";
$font-regular: "Montserrat";
$font-size: 16px;
$font-height: 20px;

//== Color

$color-shadow: #00000029;
$color-background: #ffffff;
$color-accent: #46a740;
$color-accent-focus: #58af52;
$color-accent-hover: #24811f;
$text-dark: #202c45;
$text-light: #ffffff;
$grey1: #ededed;
$grey2: #dbdbdb;
$grey3: #aaaaaa;
$transparent: rgba(0, 0, 0, 0);

//== Grid

$max_col: 12;

//== Border
$border-radius: 10px;
$border-boxed-teaser: 10px 0 0 10px;
